<title><%=title%></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black"  /> 
<meta name="format-detection" content="telephone=no"  /> 
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="cleartype" content="on" />
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="browsermode" content="application">
<meta name="x5-page-mode" content="app">
<meta name="msapplication-tap-highlight" content="no">
<link rel="stylesheet" href="/css/online/common.css">
<link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
</head>
<body>
<div class="out">
  <div class="in">
    <div class="main" id="main" name="main">
      <table class="form result-table" width="100%" data-id="<%=detail._id%>" data-state="<%=detail.state%>">
        <tr>
          <td colspan="6">
            <img src='/img/online/ll.png' />
          </td>
        </tr>
        <tr class="b">
          <td>TO:</td>
          <td></td>
          <td>From:</td>
          <td colspan='3'></td>
        </tr>
        <tr class="b">
          <td>收件人:</td>
          <td><%=vendor[0].name%></td>
          <td>发送:</td>
          <td colspan='3'></td>
        </tr>
        <tr class="b">
          <td>Tel:</td>
          <td><%=vendor[0].cell%></td>
          <td>Tel:</td>
          <td colspan='3'></td>
        </tr>
        <tr class="b">
          <td>Fax:</td>
          <td></td>
          <td>Fax:</td>
          <td colspan='3'></td>
        </tr>
        <tr class="b">
          <td>E-mail:</td>
          <td></td>
          <td>E-mail:</td>
          <td colspan='3'></td>
        </tr>
        <tr>
          <td width='10%'>&nbsp;</td>
          <td width='40%'></td>
          <td width='10%'></td>
          <td width='10%'></td>
          <td width='10%'></td>
          <td width='10%'></td>
        </tr>
        <tr>
          <td colspan="6">您好！！</td>
        </tr>
        <tr>
          <td colspan="6">感谢您对我公司的大力支持。</td>
        </tr>
        <tr>
          <td colspan="6">根据贵公司的要求，我公司制定的会议结算单分列如后，请查阅，如有问题，请随时与我联系。</td>
        </tr>
        <tr class="b">
          <td></td>
          <td class="tc">内容</td>
          <td class="tc">单价</td>
          <td class="tc">天数/次数</td>
          <td class="tc">人数/数量</td>
          <td class="tc">总价</td>
        </tr>
        <tr class="b">
          <td class="tc">1</td>
          <td>住宿</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%if(detail.hotel.length>0){
          for(var i = 0; i < detail.hotel.length; i++){
          var v=detail.hotel[i];%>
          <tr data-id="<%=v._id%>" data-type="hotel">
            <td></td>
            <td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%><%=v.name%><%=v.type_name%></td>
            <td class="tr"><%=v.price%></td>
            <td class="tr"><%=v.days%></td>
            <td class="tr"><%=v.room%></td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.hotel_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">2</td>
          <td>会场</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%if(detail.area.length>0){
          for(var i = 0; i < detail.area.length; i++){
          var v=detail.area[i];%>
          <tr data-id="<%=v._id%>" data-type="area">
            <td></td>
            <td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%><%=v.type_name%></td>
            <td class="tr"><%=v.price%></td>
            <td class="tr"><%=v.days%></td>
            <td class="tr"><%=v.people%></td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.area_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">3</td>
          <td>用餐</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%if(detail.dinner.length>0){
          for(var i = 0; i < detail.dinner.length; i++){
          var v=detail.dinner[i];%>
          <tr data-id="<%=v._id%>" data-type="dinner">
            <td></td>
            <td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%><%=v.type_name%></td>
            <td class="tr"><%=v.price%></td>
            <td class="tr"><%=v.days%></td>
            <td class="tr"><%=v.people%></td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.dinner_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">4</td>
          <td>用车</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%if(detail.car.length>0){
          for(var i = 0; i < detail.car.length; i++){
          var v=detail.car[i];%>
          <tr data-id="<%=v._id%>" data-type="car">
            <td></td>
            <td><%=v.type_name%></td>
            <td class="tr"><%=v.price%></td>
            <td class="tr"><%=v.days%></td>
            <td class="tr"><%=v.people%></td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.car_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">5</td>
          <td>物料</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%var items = ["摄影/摄像","胸牌制作","X展架/易拉宝","背景板","横幅","资料打印","礼品制作"];
          if(detail.other.length>0){
          for(var i = 0; i < detail.other.length; i++){
          var v=detail.other[i];%>
          <tr data-id="<%=v._id%>" data-type="other">
            <td></td>
            <td><%=items[v.type_id]%></td>
            <td class="tr"><%=v.total%></td>
            <td class="tr"></td>
            <td class="tr">1</td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.other_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">6</td>
          <td>额外项目</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%if(detail.sth.length>0){
          for(var i = 0; i < detail.sth.length; i++){
          var v=detail.sth[i];%>
          <tr data-id="<%=v._id%>" data-type="sth">
            <td></td>
            <td><%=v.name%></td>
            <td class="tr"><%=v.price%></td>
            <td class="tr"></td>
            <td class="tr"><%=v.people%></td>
            <td class="tr"><%=v.total%></td>
          </tr>
        <%}}%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=detail.sth_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">7</td>
          <td>陪同费用</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
          <tr class="">
            <td></td>
            <td>陪同人员</td>
            <td class="tr"><%=detail.with.with_price%></td>
            <td class="tr"><%=detail.with.with_people%></td>
            <td class="tr"><%=detail.with.with_people_num%></td>
            <td class="tr"><%=detail.with.with_total%></td>
          </tr>
          <tr class="">
            <td></td>
            <td>地接人员</td>
            <td class="tr"><%=detail.with.catch_price%></td>
            <td class="tr"><%=detail.with.catch_people%></td>
            <td class="tr"><%=detail.with.catch_people_num%></td>
            <td class="tr"><%=detail.with.catch_total%></td>
          </tr>
        <% var with_all = 0;
          if(detail.with.with_total){
            with_all += detail.with.with_total;
          }
          if(detail.with.catch_total){
            with_all += detail.with.catch_total;
          }%>
        <tr class="b">
          <td></td>
          <td class="tr">小计</td>
          <td colspan="4" class="tr sky"><%=with_all%></td>
        </tr>
        <tr class="b">
          <td class="tc">8</td>
          <td>服务费:按照总活动金额%计算</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%var feeptype = ["不收","6%","12%"];%>
        <tr data-id="<%=detail.fee._id%>" data-type="fee">
          <td></td>
          <td></td>
          <td class="tr"><%=detail.total-detail.fee.total%></td>
          <td></td>
          <td class="tr"><%=feeptype[detail.fee.percent]%></td>
          <td class="tr"><%=detail.fee.total%></td>
        </tr>
        <tr class="b">
          <td></td>
          <td class="tr">费用总计：</td>
          <td colspan="4" class="tr sky"><%=detail.total%></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/html2canvas/build/html2canvas.min.js"></script>
<script src="/lib/canvas2image/canvas2image/canvas2image.js"></script>
<script>
  var pdfimg ="";
  var pdfcallback = function (){};
  var width, height;
  function saveHtml2Image(objId, scale) {
      var obj = $("#" + objId);
      width = obj.width()*1.5;
      height = obj.height()*1.5;
      html2canvas(obj, {
        width: width,
        height: height,
        background: "#fff",
        onrendered: function (canvas) {
          pdfimg = canvas.toDataURL();
          pdfcallback();
       }
      });
    }
    saveHtml2Image('main',1);
</script>
<script src="/lib/jspdf/dist/jspdf.min.js"></script>
<script >
  pdfcallback = function(){
    var doc = new jsPDF();
    doc.addImage(pdfimg, 'PNG', 15, 15, 180, 180/width*height);
    doc.save('aa.pdf');
  }
</script>


