<% include ../../layout/head.ejs %>
<div class="out">
	<div class="in">
		<div class="main" id="main">
			<form class="form data-form">
				<input type="hidden" id="eid" value="<%=detail._id%>" />
				<div class="form-line" id="info">
					<div class="line-title">
						会议基本信息
						<button class="addbtn">修改</button>
					</div>
					<div class="form-pit">
						<div class="form-subpit">
							<label>所在城市</label>
							<select id="city" disable>
								<%for(var i=0;i<city.length;i++){%>
									<optgroup label="<%=city[i].label%>">
										<%for(var j=0;j<city[i].cities.length;j++){%>
											<option cid="<%=city[i].cities[j].id%>" <%if(detail.info.cid==city[i].cities[j].id){%>selected<%}%> >
												<%=city[i].cities[j].name%>
											</option>
										<%}%>
									</optgroup>
								<%}%>
							</select>
						</div>
						<div class="form-subpit">
							<label>会议名字</label>
							<input id="name" type="text" placeholder="请输入会议名字" value="<%=detail.info.name%>" readonly />
						</div>
						<div class="form-subpit">
							<label>会议日期</label>
							<input id="datetime" type="date" placeholder="请选择会议日期" value="<%=new Date(detail.info.datetime).toLocaleDateString()%>" readonly />
						</div>
						<div class="form-subpit">
							<label>会议地点</label>
							<input id="place" type="text" placeholder="请输入会议举办地点" value="<%=detail.info.place%>" readonly />
						</div>
						<div class="form-subpit">
							<label>会议代理人</label>
							<input id="agent" type="text" placeholder="请输入会议代理人" value="<%=detail.info.agent%>" readonly />
						</div>
						<div class="form-subpit">
							<label>代理人联系方式</label>
							<input id="agentcell" type="text" placeholder="请输入会议代理人联系手机" value="<%=detail.info.agentcell%>" readonly />
						</div>
					</div>
				</div>
				<div class="form-line" id="hotel">
					<div class="line-title">
						酒店信息
						<button class="addbtn">修改</button>
					</div>
					<%if(detail.hotel.length>0){
						for(var i = 0; i < detail.hotel.length; i++){
						var v=detail.hotel[i];%>
						<div class="form-pit">
							<div class="form-subpit">
								<label>入住时间</label>
								<input class="date_start" type="date" placeholder="请选择开始日期" value="<%=new Date(v.date_start).toLocaleDateString()%>" readonly />
							</div>
							<div class="form-subpit">
								<label>退房时间</label>
								<input class="date_end" type="date" placeholder="请选择结束日期" value="<%=new Date(v.date_end).toLocaleDateString()%>" readonly />
							</div>
							<div class="form-subpit">
								<label>酒店名称</label>
								<input class="name" type="text" placeholder="请输入酒店名称" value="<%=v.name%>" readonly />
							</div>
							<div class="form-subpit">
								<label>房型</label>
								<select class="type" disable>
									<option <%if(v.type_id==1){%>selected<%}%> type_id="1">大床房</option>
									<option <%if(v.type_id==2){%>selected<%}%> type_id="2">双床房</option>
									<option <%if(v.type_id==3){%>selected<%}%> type_id="3">行政房</option>
									<option <%if(v.type_id==4){%>selected<%}%> type_id="4">套房</option>
								</select>
							</div>
							<div class="form-subpit">
								<label>房间数</label>
								<input class="room" type="tel" placeholder="请输入房间数" value="<%=v.room%>" readonly />
							</div>
							<div class="form-subpit">
								<label>天数</label>
								<input class="days" type="tel" placeholder="请输入天数" value="<%=v.days%>" readonly />
							</div>
						</div>
					<%}}%>
					<div class="memoup">备注</div>
					<textarea class="memo" placeholder="请输入备注信息" readonly><%=detail.hotel_memo%></textarea>
				</div>
				<div class="form-line" id="area">
					<div class="line-title">
						会场信息
						<button class="addbtn">修改</button>
					</div>
					<%if(detail.area.length>0){
						for(var i = 0; i < detail.area.length; i++){
						var v=detail.area[i];%>
						<div class="form-pit">
							<div class="form-subpit">
								<label>会场开始日期</label>
								<input class="date_start" type="date" placeholder="请选择开始使用日期" value="<%=new Date(v.date_start).toLocaleDateString()%>" readonly />
							</div>
							<div class="form-subpit">
								<label>会场结束日期</label>
								<input class="date_end" type="date" placeholder="请选择结束使用日期" value="<%=new Date(v.date_end).toLocaleDateString()%>" readonly />
							</div>
							<div class="form-subpit">
								<label>选择会场类型</label>
								<select class="type" disable>
									<option <%if(v.type_id==1){%>selected<%}%> type_id="1">剧院</option>
									<option <%if(v.type_id==2){%>selected<%}%> type_id="2">课桌</option>
									<option <%if(v.type_id==3){%>selected<%}%> type_id="3">U型</option>
									<option <%if(v.type_id==4){%>selected<%}%> type_id="4">鱼骨</option>
									<option <%if(v.type_id==5){%>selected<%}%> type_id="5">董事会</option>
								</select>
							</div>
							<div class="form-subpit">
								<label>人数</label>
								<input class="people" type="tel" placeholder="请输入人数" value="<%=detail.info.people%>"  readonly/>
							</div>
							<div class="form-subpit">
								<label>天数</label>
								<input class="days" type="tel" placeholder="请输入天数" value="<%=detail.info.days%>" readonly />
							</div>
						</div>
					<%}}%>
					<div class="memoup">备注</div>
					<textarea class="memo" placeholder="请输入备注信息"><%=detail.area_memo%></textarea>
				</div>
				<div class="form-line" id="dinner">
					<div class="line-title">
						用餐信息
						<button class="addbtn">修改</button>
					</div>
					<%if(detail.dinner.length>0){
						for(var i = 0; i < detail.dinner.length; i++){
						var v=detail.dinner[i];%>
						<div class="form-pit">
							<div class="form-subpit">
								<label>用餐日期</label>
								<input class="date_start" type="date" placeholder="请选择日期" value="<%=new Date(v.date_start).toLocaleDateString()%>" readonly />
							</div>
							<!--<div class="form-subpit">
								<label>用餐结束日期</label>
								<input class="date_end" type="date" placeholder="请选择结束日期" value="<%=new Date(v.date_end).toLocaleDateString()%>" readonly />
							</div>-->
							<div class="form-subpit">
								<label>选择餐厅形式</label>
								<select class="type" disable>
									<option <%if(v.type_id==1){%>selected<%}%> type_id="1">无指定餐厅</option>
									<option <%if(v.type_id==2){%>selected<%}%> type_id="2">自助</option>
									<option <%if(v.type_id==3){%>selected<%}%> type_id="3">围桌</option>
								</select>
							</div>
							<div class="form-subpit">
								<label>人数</label>
								<input class="people" type="tel" placeholder="请输入人数" value="<%=v.people%>" readonly />
							</div>
							<div class="form-subpit">
								<label>午餐或晚餐</label>
								<select class="days" value="<%=v.days%>" readonly>
									<option value="0">午餐</option>
									<option value="1">晚餐</option>
								</select>
							</div>
						</div>
					<%}}%>
					<div class="memoup">备注</div>
					<textarea class="memo" placeholder="请输入备注信息" readonly ><%=detail.dinner_memo%></textarea>
				</div>
				<div class="form-line" id="car">
					<div class="line-title">
						用车信息
						<button class="addbtn">修改</button>
					</div>
					<%if(detail.car.length>0){
						for(var i = 0; i < detail.car.length; i++){
						var v=detail.car[i];%>
						<div class="form-pit">
							<div class="form-subpit">
								<label>选择车型</label>
								<select class="type" disable>
									<option <%if(v.type_id==1){%>selected<%}%> type_id="1">轿车（3座）</option>
									<option <%if(v.type_id==2){%>selected<%}%> type_id="2">商务车（5座）</option>
									<option <%if(v.type_id==3){%>selected<%}%> type_id="3">考斯特（19座）</option>
									<option <%if(v.type_id==4){%>selected<%}%> type_id="4">中巴车（33座）</option>
									<option <%if(v.type_id==5){%>selected<%}%> type_id="5">大巴车（45座）</option>
									<option <%if(v.type_id==6){%>selected<%}%> type_id="6">大巴车（53座）</option>
								</select>
							</div>
							<div class="form-subpit">
								<label>用车车辆</label>
								<input class="people" type="tel" placeholder="请输入车辆" value="<%=v.people%>" readonly />
							</div>
							<div class="form-subpit">
								<label>次数</label>
								<input class="days" type="tel" placeholder="请输入次数" value="<%=v.days%>" readonly />
							</div>
							<div class="form-subpit">
								<label>用车形式</label>
								<select class="usage" value="<%=v.usage%>" readonly>
									<option value="0">接送机</option>
									<option value="1">全天用车</option>
								</select>
							</div>
						</div>
					<%}}%>
					<div class="memoup">备注</div>
					<textarea class="memo" placeholder="请输入备注信息" readonly ><%=detail.car_memo%></textarea>
				</div>
				<div class="form-line" id="other">
					<div class="line-title">
						其他
						<button class="addbtn">修改</button>
					</div>
					<%if(detail.other.length>0){
						for(var i = 0; i < detail.other.length; i++){
						var v=detail.other[i];%>
						<div class="form-pit">
							<div class="form-subpit">
								<label>物料类型</label>
								<select class="type" disable>
									<option <%if(v.type_id==1){%>selected<%}%> type_id="1">摄影/摄像</option>
									<option <%if(v.type_id==2){%>selected<%}%> type_id="2">胸牌制作</option>
									<option <%if(v.type_id==3){%>selected<%}%> type_id="3">X展架/易拉宝 </option>
									<option <%if(v.type_id==4){%>selected<%}%> type_id="4">背景板</option>
									<option <%if(v.type_id==5){%>selected<%}%> type_id="5">横幅</option>
									<option <%if(v.type_id==6){%>selected<%}%> type_id="6">资料打印</option>
									<option <%if(v.type_id==7){%>selected<%}%> type_id="7">礼品制作</option>
								</select>
							</div>
							<div class="form-subpit">
								<label>是否需要</label>
								<select class="need" disable>
									<option <%if(!v.need){%>selected<%}%> need="0">否</option>
									<option <%if(v.need){%>selected<%}%> need="1">是</option>
								</select>
							</div>
						</div>
					<%}}%>
					<div class="memoup">备注</div>
					<textarea class="memo" placeholder="请输入备注信息" readonly><%=detail.other_memo%></textarea>
				</div>
				<div class="form-line" id="with">
					<div class="line-title">陪同人员</div>
					<div class="form-pit">
						<div class="form-subpit">	
							<label>是否需要陪同</label>
							<select class="with_need" disable>
								<option <%if(!detail.with.with_need){%>selected<%}%> need="0">否</option>
								<option <%if(detail.with.with_need){%>selected<%}%> need="1">是</option>
							</select>
						</div>
						<div class="form-subpit">	
							<label>陪同天数</label>
							<input class="with_people" type="tel" placeholder="请填写陪同天数" value="<%=detail.with.with_people%>" readonly />
						</div>
						<div class="form-subpit">	
							<label>陪同人数</label>
							<input class="with_people_num" type="tel" placeholder="请填写陪同人数" value="<%=detail.with.with_people_num%>" readonly/>
						</div>
						<div class="form-subpit">	
							<label>是否需要地接</label>
							<select class="catch_need" disable>
								<option <%if(!detail.with.catch_need){%>selected<%}%> need="0">否</option>
								<option <%if(detail.with.catch_need){%>selected<%}%> need="1">是</option>
							</select>
						</div>
						<div class="form-subpit">	
							<label>地接天数</label>
							<input class="catch_people" type="tel" placeholder="请填写地接天数" value="<%=detail.with.catch_people%>" readonly />
						</div>
					</div>
				</div>
				<div class="form-line" id="invoice">
					<div class="line-title">发票</div>
					<div class="form-pit">
						<div class="form-subpit">	
							<label>是否需要发票</label>
							<select class="need" disable>
								<option <%if(!detail.inv.need){%>selected<%}%> need="0">否</option>
								<option <%if(detail.inv.need){%>selected<%}%> need="1">是</option>
							</select>
						</div>
						<div class="form-subpit">	
							<label>发票类型</label>
							<select class="type" disable>
								<option <%if(detail.inv.type_id==1){%>selected<%}%>  type_id="1">普通发票</option>
								<option <%if(detail.inv.type_id==2){%>selected<%}%>  type_id="2">增值税发票</option>
							</select>
						</div>
					</div>
				</div>
				<button id="save">更新</button>
			</form>
		</div>
	</div>
</div>
<script type="text/template" id="infopop">
	<div class="pop" name="infopop">
		<div class="form pop-line">
			<div class="line-title">
				会议基本信息<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>所在城市</label>
					<select class="city" >
						<% for(var i=0;i<city.length;i++){%>
							<optgroup label="<%=city[i].label%>">
								<% for(var j=0;j<city[i].cities.length;j++){%>
									<option cid="<%=city[i].cities[j].id%>">
										<%=city[i].cities[j].name%>
									</option>
								<%}%>
							</optgroup>
						<%}%>
					</select>
				</div>
				<div class="form-subpit">
					<label>会议名字</label>
					<input class="name" type="text" placeholder="请输入会议名字" />
				</div>
				<div class="form-subpit">
					<label>会议日期</label>
					<input class="datetime" type="date" placeholder="请选择会议日期" />
				</div>
				<div class="form-subpit">
					<label>会议地点</label>
					<input class="place" type="text" placeholder="请输入会议举办地点" />
				</div>
				<div class="form-subpit">
					<label>会议代理人</label>
					<input class="agent" type="text" placeholder="请输入会议代理人" />
				</div>
				<div class="form-subpit">
					<label>代理人联系方式</label>
					<input class="agentcell" type="tel" placeholder="请输入会议代理人联系手机" />
				</div>
			</div>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="hotelpop">
	<div class="pop" name="hotelpop">
		<div class="form pop-line">
			<div class="line-title">
				酒店信息<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>入住时间</label>
					<input class="date_start" type="date" placeholder="请选择开始日期" />
				</div>
				<div class="form-subpit">
					<label>退房时间</label>
					<input class="date_end" type="date" placeholder="请选择结束日期" />
				</div>
				<div class="form-subpit">
					<label>酒店名称</label>
					<input class="name" type="text" placeholder="请输入酒店名称" />
				</div>
				<div class="form-subpit">
					<label>房型</label>
					<select class="type">
						<option type_id="1">大床房</option>
						<option type_id="2">双床房</option>
						<option type_id="3">行政房</option>
						<option type_id="4">套房</option>
					</select>
				</div>
				<div class="form-subpit">
					<label>房间数</label>
					<input class="room" type="tel" placeholder="请输入房间数" />
				</div>
				<div class="form-subpit">
					<label>天数</label>
					<input class="days" type="tel" placeholder="请输入天数" />
				</div>
			</div>
			<div class="memoup">备注</div>
			<textarea class="memo" placeholder="请输入备注信息"></textarea>
			<button class="plusbtn">添加酒店</button>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="areapop">
	<div class="pop" name="areapop">
		<div class="form pop-line">
			<div class="line-title">
				会场信息<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>会场开始日期</label>
					<input class="date_start" type="date" placeholder="请选择开始使用日期" />
				</div>
				<div class="form-subpit">
					<label>会场结束日期</label>
					<input class="date_end" type="date" placeholder="请选择结束使用日期" />
				</div>
				<div class="form-subpit">
					<label>选择会场类型</label>
					<select class="type">
						<option type_id="1">剧院</option>
						<option type_id="2">课桌</option>
						<option type_id="3">U型</option>
						<option type_id="4">鱼骨</option>
						<option type_id="5">董事会</option>
					</select>
				</div>
				<div class="form-subpit">
					<label>人数</label>
					<input class="people" type="tel" placeholder="请输入人数" />
				</div>
				<div class="form-subpit">
					<label>天数</label>
					<input class="days" type="tel" placeholder="请输入天数" />
				</div>
			</div>
			<div class="memoup">备注</div>
			<textarea class="memo" placeholder="请输入备注信息"></textarea>
			<button class="plusbtn">添加会场</button>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="dinnerpop">
	<div class="pop" name="dinnerpop">
		<div class="form pop-line">
			<div class="line-title">
				用餐信息<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>用餐日期</label>
					<input class="date_start" type="date" placeholder="请选择日期" />
				</div>
				<!--<div class="form-subpit">
					<label>用餐结束日期</label>
					<input class="date_end" type="date" placeholder="请选择结束日期" />
				</div>-->
				<div class="form-subpit">
					<label>选择餐厅形式</label>
					<select class="type">
						<option type_id="1">无指定餐厅</option>
						<option type_id="2">自助</option>
						<option type_id="3">围桌</option>
					</select>
				</div>
				<div class="form-subpit">
					<label>人数</label>
					<input class="people" type="tel" placeholder="请输入人数" />
				</div>
				<div class="form-subpit">
					<label>午餐或晚餐</label>
					<select class="days">
						<option value="0" checked>午餐</option>
						<option value="1">晚餐</option>
					</select>
				</div>
			</div>
			<div class="memoup">备注</div>
			<textarea class="memo" placeholder="请输入备注信息"></textarea>
			<button class="plusbtn">添加用餐</button>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="carpop">
	<div class="pop" name="carpop">
		<div class="form pop-line">
			<div class="line-title">
				用车信息<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>选择车型</label>
					<select class="type">
						<option type_id="1">轿车（5座）</option>
						<option type_id="2">商务车（21座）</option>
						<option type_id="3">考斯特（19座）</option>
						<option type_id="4">中巴车（33座）</option>
						<option type_id="5">大巴车（45座）</option>
						<option type_id="6">大巴车（53座）</option>
					</select>
				</div>
				<div class="form-subpit">
					<label>用车车辆</label>
					<input class="people" type="tel" placeholder="请输入车辆" />
				</div>
				<div class="form-subpit">
					<label>次数</label>
					<input class="days" type="tel" placeholder="请输入次数" />
				</div>
				<div class="form-subpit">
					<label>用车形式</label>
					<select class="usage">
						<option value="0">接送机</option>
						<option value="1">全天用车</option>
					</select>
				</div>
			</div>
			<div class="memoup">备注</div>
			<textarea class="memo" placeholder="请输入备注信息"></textarea>
			<button class="plusbtn">添加车辆</button>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="otherpop">
	<div class="pop" name="otherpop">
		<div class="form pop-line">
			<div class="line-title">
				其他<div class="close">X</div>
				<!--<button class="addbtn">修改</button>-->
			</div>
			<div class="form-pit">
				<div class="form-subpit">
					<label>物料类型</label>
					<select class="type">
						<option type_id="1">摄影/摄像</option>
						<option type_id="2">胸牌制作</option>
						<option type_id="3">X展架/易拉宝 </option>
						<option type_id="4">背景板</option>
						<option type_id="5">横幅</option>
						<option type_id="6">资料打印</option>
						<option type_id="7">礼品制作</option>
					</select>
				</div>
				<div class="form-subpit">
					<label>是否需要</label>
					<select class="need">
						<option need="0">否</option>
						<option need="1">是</option>
					</select>
				</div>
			</div>
			<div class="memoup">备注</div>
			<textarea class="memo" placeholder="请输入备注信息"></textarea>
			<button class="plusbtn">添加物料</button>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="withpop">
	<div class="pop" name="withpop">
		<div class="form pop-line">
			<div class="line-title">
				陪同人员<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">	
					<label>是否需要陪同</label>
					<select class="with_need">
						<option need="0">否</option>
						<option need="1">是</option>
					</select>
				</div>
				<div class="form-subpit">	
					<label>陪同天数</label>
					<input class="with_people" type="tel" placeholder="请填写陪同天数" />
				</div>
				<div class="form-subpit">	
					<label>陪同人数</label>
					<input class="with_people_num" type="tel" placeholder="请填写陪同人数" />
				</div>
				<div class="form-subpit">	
					<label>是否需要地接</label>
					<select class="catch_need">
						<option need="0">否</option>
						<option need="1">是</option>
					</select>
				</div>
				<div class="form-subpit">	
					<label>地接天数</label>
					<input class="catch_people" type="tel" placeholder="请填写地接天数" />
				</div>
			</div>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="invoicepop">
	<div class="pop" name="invoicepop">
		<div class="form pop-line">
			<div class="line-title">
				发票<div class="close">X</div>
			</div>
			<div class="form-pit">
				<div class="form-subpit">	
					<label>是否需要发票</label>
					<select class="need">
						<option need="0">否</option>
						<option need="1">是</option>
					</select>
				</div>
				<div class="form-subpit">	
					<label>发票类型</label>
					<select class="type">
						<option type_id="1">普通发票</option>
						<option type_id="2">增值税发票</option>
					</select>
				</div>
			</div>
			<div class="btns">
				<button class="change">修改</button>
			</div>
		</div>
	</div>
</script>
<% include ../../layout/foot.ejs %>